<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="user" name="user22" class="com.jiagouedu.bean.User"/>
	<bean  name="user22333" class="com.jiagouedu.bean.User"/>
	<bean id="cat"  class="com.jiagouedu.bean.Cat"/>


	<bean name="myFactoryBean" class="com.jiagouedu.bean.MyFactoryBean"/>

	<!--
	<bean id="a" class="com.jiagouedu.bean.A" >
		<constructor-arg ref="b"></constructor-arg>
	</bean>

	<bean id="b" class="com.jiagouedu.bean.B" >
		<constructor-arg ref="a"></constructor-arg>
	</bean>
	-->

</beans>